__pycache__/
datasets/__pycache__/
models/__pycache__/
modules/__pycache__/
ret_imgs/
test_imgs/

data/preview.jpg
data/shake_it_off.jpg
.idea/

0.jpg
1.jpg
2.jpg

ret_test.jpg
download_imgs/

out_imgs/

~$反光衣安全帽.xlsx
1.json
download_img.py