__pycache__/
datasets/__pycache__/
models/__pycache__/
modules/__pycache__/
ret_imgs/
test_imgs/
checkpoint_iter_370000.pth

data/preview.jpg
data/shake_it_off.jpg
.idea/

0.jpg
1.jpg
2.jpg

roi_out.jpg
test.py